<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Minhas Disciplinas</h1>
      <p class="lead text-muted">Especificidades das disciplinas que leciono.</p>
      <p>
        <a href="#" class="btn btn-primary my-2" style="margin-right: 3px;">Lista de Alunos</a>
        <a href="/lancamentoNotas" class="btn btn-secondary my-2">Lançamento de Notas</a>
      </p>
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">TBAT - Pentateuco</text></svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">Tratando de aspectos introdutórios sobre a Teologia Bíblica, nessa disciplina, os alunos iniciam seus contatos com
              ensinos importantes sobre a Unidade e Unicidade das Escrituras. Tendo os cinco primeiros livros da Bíblia como base,
              iniciamos uma jornada de identificação de como a Escritura ensina e trata de aspectos do fim desde o começo.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
            Placeholder
          </title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect>
          <text x="25%" y="50%" fill="#eceeef" dy=".3em">TBAT - Livros Históricos</text>
        </svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">Em continuidade aos ensinos relacionados ao Pentateuco, TBAT-Livros Históricos se direciona a enfatizar a continuidade do processo revelacional de Deus,
              por meio dos textos subsequentes. Por meio da apresentação da História da perspectiva correta, somos convocados a perceber o progresso da Revelação de Deus.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="20%" y="50%" fill="#eceeef" dy=".3em">
              TBAT - Poéticos e Sapienciais
            </text>
          </svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">Por meio desse conteúdo, nossos olhos se focam ao progresso da História da Redenção, agora debaixo de uma especificidade sobre a forma como o povo do pacto vive suas vidas.
              As expressões naturais e passíveis de serem vividas no meio do povo de Deus são geralmente identificadas nesse conteúdo.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">

          <svg cl
          ass="bd-place
          holder-img card-img-top" width="100
          %" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c">
          </rect>
          <text x="20%" y="50%" fill="#eceeef" dy=".3em">
            TBAT - Literatura Profética
          </text>
        </svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">
              Nesse módulo, nossos olhares se voltam para percepção do processo histórico redentivo por meio dos livros proféticos.
            Ainda que não tratemos de maneira abrangente deste vasto conteúdo, temos o privilégio de lidar com as etapas importantes
          que enfatizam a forma como por meio desses homens, Deus se revelou.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c">
          </rect><text x="20%" y="50%" fill="#eceeef" dy=".3em">
            Exegese - Texto e Tradução</text></svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">
              Nesta disciplina, temos a introdução à disciplina de Exegese. O conteúdo, de uma forma geral, consiste em realizar um Ensaio Exegético
              de maneira que atenda as especificidades dos olhares oportunos ao texto Sagrado, a fim de obter seu sentido mais próximo ao autoral.
            Em Texto e Tradução, somos levados á delimitação da perícope que será estudada.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="20%" y="50%" fill="#eceeef" dy=".3em">Exegese - Termos e Estrutura</text></svg>

          <div class="card-body">
            <p class="card-text">
              Nesse ponto, lidamos com a observação de como os aspectos léxico-gramaticais proporcionam maior entendimento dos objetivos e forma de ensinamentos do autor.
              Observamos de maneira mais aprofundada os aspectos estruturais e sintagmáticos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="20%" y="50%" fill="#eceeef" dy=".3em">
              Exegese - Contexto e Forma
            </text>
            </svg>

          <div class="card-body">
            <p class="card-text">Aqui, os aspectos contextuais tomam seu início de maneira mais específica. Tratando o pano de fundo e observando a literatura propriamente dita,
              avançamos no propósito de conhecer mais das formas utilizads pelo autor para transmitir seus ensinamentos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="20%" y="50%" fill="#eceeef" dy=".3em">
            Exegese - Temas e Relações</text></svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">Nesse ponto, lidamos com o conteúdo do texto bíblico por meio da identificação de suas relações biblico teológicas,
              também na percepção dos temas que são levantados pela observação dessas relações. Uma análise bíblico teológica é o que está proposto nesta parte da disciplina.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="35%" y="50%" fill="#eceeef" dy=".3em">Didática Geral</text></svg>

          <div class="card-body">
            <p class="card-text" style="text-align: justify;">
              Nesta disciplina, naturalmente, temos o apontamentos de técnicas relacionados aos aspectos pedagógicos, visando especificamente o processo de ensino-aprendizagem.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">1 Bimestre</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
