<button mat-button color="primary" (click)="openDialog(this.id)">Inserir nota do aluno</button>

<table mat-table #table [dataSource]="myDataArray" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
  <th mat-header-cell *matHeaderCellDef>Nome do Aluno</th>
  <td mat-cell *matCellDef="let aluno"><div> {{aluno.aluno}} </div></td>
  </ng-container>

  <ng-container matColumnDef="disciplina">
    <th mat-header-cell *matHeaderCellDef>Disciplina</th>
    <td mat-cell *matCellDef="let aluno"><div> {{aluno.disciplina}} </div></td>
    </ng-container>

  <ng-container matColumnDef="av1">
  <th mat-header-cell *matHeaderCellDef>Av1</th>
  <td mat-cell *matCellDef="let aluno"><div> {{aluno.av1}} </div></td>
  </ng-container>

  <ng-container matColumnDef="av2">
    <th mat-header-cell *matHeaderCellDef>Av2</th>
    <td mat-cell *matCellDef="let aluno"><div> {{aluno.av2}} </div></td>
    </ng-container>

    <ng-container matColumnDef="av3">
      <th mat-header-cell *matHeaderCellDef>Av3</th>
      <td mat-cell *matCellDef="let aluno"><div> {{aluno.av3}} </div></td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let aluno"><div> {{this.statusFinal(this.media(aluno.av1,aluno.av2,aluno.av3))}} </div></td>
    </ng-container>

    <ng-container matColumnDef="bimestre">
      <th mat-header-cell *matHeaderCellDef>Bimestre</th>
      <td mat-cell *matCellDef="let aluno"><div> {{aluno.bimestre}} </div></td>
    </ng-container>

      <!-- <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef>Ações </mat-header-cell>
        <mat-cell *matCellDef="let user">
        <button mat-button color="primary" (click)="openDialog(this.user)">Edit</button> |
        <button mat-button color="warn" (click)="delete(this.user)">Delete</button>
        </mat-cell>
        </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let dataSource; columns: displayedColumns;"></tr>

  </table>


  <!-- <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field apparence="legacy">
    <mat-label>Id do Aluno</mat-label>
    <input matInput [(ngModel)]="newNotaAluno.alunoId" type="number" name="alunoId" id="alunoId" class="form-control"
    formControlName="alunoId" required>
    </mat-form-field><br>

    <mat-form-field apparence="legacy">
    <mat-label>Id da Disciplina</mat-label>
    <input matInput [(ngModel)]="newNotaAluno.disciplinaId" type="number" name="disciplinaId" id="disciplinaId"
    class="form-control" formControlName="disciplinaId" required>
    </mat-form-field><br>

    <mat-form-field apparence="legacy">
    <mat-label>Av1</mat-label>
    <input matInput [(ngModel)]="newNotaAluno.av1" type="number" name="av1" id="av1" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
    formControlName="av1" required>
    </mat-form-field><br>

    <mat-form-field apparence="legacy">
      <mat-label>Av2</mat-label>
      <input matInput [(ngModel)]="newNotaAluno.av2" type="number" name="av2" id="av2" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      formControlName="av2" required>
      </mat-form-field><br>

      <mat-form-field apparence="legacy">
        <mat-label>Av3</mat-label>
        <input matInput [(ngModel)]="newNotaAluno.av3" type="number" name="av3" id="av3" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        formControlName="av3" required>
        </mat-form-field><br>

      <mat-form-field apparence="legacy">
          <mat-label>Bimestre</mat-label>
          <input matInput [(ngModel)]="newNotaAluno.bimestre" type="number" name="bimestre" id="bimestre" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          formControlName="bimestre" required>
        </mat-form-field><br>

    <button mat-raised-button color="primary" (click)="onSubmit()">submit</button>
  </div> -->
