<div class="container-fluid hero-page">
  <div class="container">
    <div class="row">
      <div class="col-4 ml-2 mt-5" style="display: flex; flex-direction: column;
      padding: 3px; position: relative; left: 17px; top: 60px;">
        <h1>Relatório de Rendimento dos Alunos</h1>
        <p>
          Esse conteúdo tem objetivo de verificar o andamento dos alunos do Seminário Teológico do Oeste.
        </p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-8 col-sm-6">

          </div>
          <div class="col-4 mt-5 col-sm-5 align-items-center" style="display: flex; flex-direction: column;
                padding: 3px; position: relative; left: 113px;">
              <img class="avatar" src="http://localhost:5000/img/{{this.nomeFoto}}" *ngIf="_user">
              <h2>{{this.nomeUsuario}}</h2>
              <p>{{this.atribuicoes}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>-->
<div class="container mt-5 pt-5 pb-5 mb-5">
  <div class="row align-items-center justify-content-around"
       style="height: 60vh;">
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="http://localhost:5000/img/9-1.jpeg"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Fomos chamados por Deus para serví-lo, servindo aos nossos Alunos.
          Sentimo-nos privilegiados por essa missão que nos foi dada.
        </p>
      </div>
    </div>
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="http://localhost:5000/img/img-20190923-wa0003.jpeg"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Nossos olhares estão sempre em como fornecer o conteúdo bíblico,
          de maneira que nossas palavras sejam um reflexo da Escritura Sagrada.
          Por isso nos esmeramos para que em todo momento de nossas aulas, sejamos
          dotados da preocupação de apontar para a centralidade dos ensinos bíblicos
          em nossas próprias vidas.
        </p>
      </div>
    </div>
    <div class="col-3 card" style="height: 60vh;">
      <img class="card-img-top"
           src="http://localhost:5000/img/base-imgs-posts.jpeg"
           alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">
          Caminhando pelo conteúdo das Escrituras junto aos alunos temos sempre
          o privilégio de percebermos a ação de Deus em nossas vidas, nos fazendo
          retornar dia após dia ao caminho que nossa carne tanto deseja se distanciar.
          Louvemos a Deus pelo privilégio da ação de Seu Santo Espírito em nós.
        </p>
      </div>
    </div>
  </div>
</div>
