h1, h2, p{
  font-family: 'Varela Round', sans-serif;
}
h1{
  font-weight: 800;
}

h2{
  font-size: 1.6rem;
  font-weight: 600;
}
p{
  text-align: justify;
  font-size: 0.95rem;
}

.avatar{
  width: 80px;
  height: 80px;
  border-radius: 53%;
}
